```
DataFrame products
+-------------+--------+
| Column Name | Type   |
+-------------+--------+
| name        | object |
| quantity    | int    |
| price       | int    |
+-------------+--------+
```

Write a solution to fill in the missing value as 0 in the quantity column.

The result format is in the following example.`

In [1]:
import pandas as pd

In [9]:
list =[
    ['Wristwatch'      , None     , 135   ],
['WirelessEarbuds' , None     , 821   ],
['GolfClubs'       , 779      , 9319  ],
['Printer'         , 849      , 3051  ]
]

df = pd.DataFrame(list, columns=['name', 'quantity', 'price'])
df['quantity'] = df['quantity'].fillna(0)
df.head()

              name  quantity  price
0       Wristwatch       0.0    135
1  WirelessEarbuds       0.0    821
2        GolfClubs     779.0   9319
3          Printer     849.0   3051