Write a solution to pivot the data so that each row represents temperatures for a specific month, and each city is a separate column.

The result format is in the following example.

#### Example 1:

Input:
```
+--------------+----------+-------------+
| city         | month    | temperature |
+--------------+----------+-------------+
| Jacksonville | January  | 13          |
| Jacksonville | February | 23          |
| Jacksonville | March    | 38          |
| Jacksonville | April    | 5           |
| Jacksonville | May      | 34          |
| ElPaso       | January  | 20          |
| ElPaso       | February | 6           |
| ElPaso       | March    | 26          |
| ElPaso       | April    | 2           |
| ElPaso       | May      | 43          |
+--------------+----------+-------------+
```
Output:
```
+----------+--------+--------------+
| month    | ElPaso | Jacksonville |
+----------+--------+--------------+
| April    | 2      | 5            |
| February | 6      | 23           |
| January  | 20     | 13           |
| March    | 26     | 38           |
| May      | 43     | 34           |
+----------+--------+--------------+
```

In [1]:
import pandas as pd

In [7]:
list =  [
['Jacksonville' , 'January'  , 13],
['Jacksonville' , 'February' , 23],
['Jacksonville' , 'March'    , 38],
['Jacksonville' , 'April'    , 5],
['Jacksonville' , 'May'      , 34],
['ElPaso'       , 'January'  , 20],
['ElPaso'       , 'February' , 6],
['ElPaso'       , 'March'    , 26],
['ElPaso'       , 'April'    , 2],
['ElPaso'       , 'May'      , 43]
]

df = pd.DataFrame(list, columns=['city', 'month', 'temperature'])

pivdf = df.pivot(index =  'month', columns = 'city', values ='temperature')
pivdf.head()

city      ElPaso  Jacksonville
month
April          2             5
February       6            23
January       20            13
March         26            38
May           43            34