Write a solution to reshape the data so that each row represents sales data for a product in a specific quarter.

The result format is in the following example.

#### Example 1:

Input:
```
+-------------+-----------+-----------+-----------+-----------+
| product     | quarter_1 | quarter_2 | quarter_3 | quarter_4 |
+-------------+-----------+-----------+-----------+-----------+
| Umbrella    | 417       | 224       | 379       | 611       |
| SleepingBag | 800       | 936       | 93        | 875       |
+-------------+-----------+-----------+-----------+-----------+
```
Output:
```
+-------------+-----------+-------+
| product     | quarter   | sales |
+-------------+-----------+-------+
| Umbrella    | quarter_1 | 417   |
| SleepingBag | quarter_1 | 800   |
| Umbrella    | quarter_2 | 224   |
| SleepingBag | quarter_2 | 936   |
| Umbrella    | quarter_3 | 379   |
| SleepingBag | quarter_3 | 93    |
| Umbrella    | quarter_4 | 611   |
| SleepingBag | quarter_4 | 875   |
+-------------+-----------+-------+
```

In [1]:
import pandas as pd

In [5]:
list = [
['Umbrella', 417, 224, 379, 611],
['SleepingBag', 800, 936, 93, 875]
]

df = pd.DataFrame(list, columns=['product', 'quarter1', 'quarter2', 'quarter3', 'quarter4'])
df.head()
meltdf = df.melt(id_vars='product', var_name='quarter', value_name='sales')
meltdf.head()

       product   quarter  sales
0     Umbrella  quarter1    417
1  SleepingBag  quarter1    800
2     Umbrella  quarter2    224
3  SleepingBag  quarter2    936
4     Umbrella  quarter3    379