Write a solution to list the names of animals that weigh strictly more than 100 kilograms.

Return the animals sorted by weight in descending order.

The result format is in the following example.

#### Example 1:

Input:
``` 
DataFrame animals:
+----------+---------+-----+--------+
| name     | species | age | weight |
+----------+---------+-----+--------+
| Tatiana  | Snake   | 98  | 464    |
| Khaled   | Giraffe | 50  | 41     |
| Alex     | Leopard | 6   | 328    |
| Jonathan | Monkey  | 45  | 463    |
| Stefan   | Bear    | 100 | 50     |
| Tommy    | Panda   | 26  | 349    |
+----------+---------+-----+--------+
```
Output: 
```
+----------+
| name     |
+----------+
| Tatiana  |
| Jonathan |
| Tommy    |
| Alex     |
+----------+
```

In [1]:
import pandas as pd

In [8]:
list = [
['Tatiana'  , 'Snake'  , 98  , 464],
['Khaled'   , 'Giraffe' , 50  , 41],
['Alex'     , 'Leopard' , 6   , 328],
['Jonathan' , 'Monkey'  , 45  , 463],
['Stefan'   , 'Bear'    , 100 , 50],
['Tommy'    , 'Panda'   , 26  , 349],
]

df = pd.DataFrame(list, columns=['name', 'species', 'age', 'weight'])
df2 = pd.DataFrame(df.query('weight > 100').sort_values('weight', ascending=False)['name'])
df2.head()

       name
0   Tatiana
3  Jonathan
5     Tommy
2      Alex