```
| customer_id | name    | email               |
+-------------+---------+---------------------+
| 1           | Ella    | emily@example.com   |
| 2           | David   | michael@example.com |
| 3           | Zachary | sarah@example.com   |
| 4           | Alice   | john@example.com    |
| 5           | Finn    | john@example.com    |
| 6           | Violet  | alice@example.com   |
```

There are some duplicate rows in the DataFrame based on the email column.

Write a solution to remove these duplicate rows and keep only the first occurrence.

The result format is in the following example.

In [1]:
import pandas as pd

In [5]:
list =[
[1, 'Ella', 'emily@example.com'],
[2, 'David', 'michael@example.com'],
[3, 'Zachary', 'sarah@example.com'],
[4, 'Alice', 'john@example.com'],
[5, 'Finn', 'john@example.com'],
[6, 'Violet', 'alice@example.com']
]

customers = pd.DataFrame(list, columns=['customer_id', 'name', 'email'])
customers = customers[~customers.duplicated(subset='email')]
customers.head()

   customer_id     name                email
0            1     Ella    emily@example.com
1            2    David  michael@example.com
2            3  Zachary    sarah@example.com
3            4    Alice     john@example.com
5            6   Violet    alice@example.com