```
+------------+---------+-----+
| student_id | name    | age |
+------------+---------+-----+
| 32         | Piper   | 5   |
| 217        | None    | 19  |
| 779        | Georgia | 20  |
| 849        | Willow  | 14  |
+------------+---------+-----+
```

There are some rows having missing values in the name column.

Write a solution to remove the rows with missing values.

The result format is in the following example.

In [1]:
import pandas as pd

In [9]:
list = [
    [32, 'Piper', 5],
    [217, None, 19],
    [779, 'Georgia', 20],
    [849, 'Willow', 14] 
]

df = pd.DataFrame(list, columns=['student_id', 'name', 'age'])

# This will drop anything with missing values
#df.dropna()

# To drop only things with missing values in a specific column:
df = df.dropna(subset='name')
df.head()

   student_id     name  age
0          32    Piper    5
2         779  Georgia   20
3         849   Willow   14