```
DataFrame students
+-------------+--------+
| Column Name | Type   |
+-------------+--------+
| id          | int    |
| first       | object |
| last        | object |
| age         | int    |
+-------------+--------+
```

Write a solution to rename the columns as follows:

- id to student_id
- first to first_name
- last to last_name
- age to age_in_years

In [1]:
import pandas as pd

In [10]:
list = [
[1, 'Mason'   , 'King'     , 6   ],
[2, 'Ava'     , 'Wright'   , 7   ],
[3, 'Taylor'  , 'Hall'     , 16  ],
[4, 'Georgia' , 'Thompson' , 18  ],
[5, 'Thomas'  , 'Moore'    , 10  ]
]

df = pd.DataFrame(list, columns=['id','first','last','age'])
df = df.rename({
    'id':'student_id',
    'first':'first_name',
    'last':'last_name',
    'age':'age_in_years'},
               axis = 1)
df.head()

   student_id first_name last_name  age_in_years
0           1      Mason      King             6
1           2        Ava    Wright             7
2           3     Taylor      Hall            16
3           4    Georgia  Thompson            18
4           5     Thomas     Moore            10